.nav {

}


.item a {
    color: #ffffff;
    text-decoration: none;
    font-size: 34px;
    display: block;
    border-radius: 10px;

}
.item a:hover {
    color: #2fff00;
    text-shadow: #2fff00 1px 0 10px;
transition: .2s ease-in-out;
}

.active {

}

.item a.active  {

}