.descriptionBlock {
    padding: 10px
}

.mainPhoto {
    width: 200px;
    height: 200px;
}

.contact {
    padding-left: 10px;
}

.formSummaryError {
    border: red 10px solid;
    padding: 5px;
    color: #6e1515;
}